$fa-font-path: "../fonts";

@import "normalize/normalize";
@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/regular";

//
// Variables
// 

// Pallette
$brand-blue: #0071E0;
$brand-green: #15CD72;
$primary-text: #303030;
$secondary-text: #B5B7BD;
$light-text: #FFFFFF;
$secondary-background: #F5F5F7;
$chrome: #E2E5ED;
$control-chrome: #cccccc;

// Typography
$font-family: "Open Sans",  sans-serif;
$font-family-serif: "Georgia", "Times New Roman";
$reading-width: 720px;

// Typography
body {
  font-family: $font-family;
  font-size: 16px;
  line-height: 24px;
  color: $primary-text;
}

h1 {
  font-size: 58px;
  line-height: 64px;
  font-weight: 900;
  margin: 0 0 16px 0;
}

h2 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    margin: 0 0 16px 0;
}

h3 {
  font-size: 26px;
  line-height: 40px;
  font-weight: 600;
  margin: 0 0 8px 0;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

p {
  margin: 0 0 16px 0;
}

b {
  font-weight: 800;
}

a, a:hover, a:visited {
  color: $brand-blue;
  text-decoration: none;
}

form {
  label {
    display: block;
  }
}

input[type=text], input[type="search"], input[type="tel"], input[type="url"],
input[type="email"],input[type="password"], input[type="date"],
input[type="month"], input[type="week"], input[type="time"],
input[type="number"], input[type="color"], textarea {
  border: 1px solid $control-chrome;
  border-radius: 4px;
  min-height: 32px;
  padding: 0 8px;
  width: 100%;
  max-width: 400px;
}

.plain-link, .plain-link:hover, .plain-link:visited  {
  text-decoration: none;
  color: $primary-text;
}

.secondary-link, .secondary-link:visited {
  text-decoration: none;
  color: $secondary-text;
}

.secondary-link:hover {
  color: $brand-blue;
}

.container {
  max-width: 1200px;
  margin: 0 12px;

  @media screen and (min-width: 1224px) {
    margin: 0 auto;
  }
}

.reading-container {
  max-width: 720px;
  margin: 0 12px;

  @media screen and (min-width: 744px) {
    margin: 0 auto;
  }
}

.navbar {
  display: flex;
  flex-direction: row;

  .logo {
    height: 40px;
    margin: 16px 0px;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;

    a.nav-link {
      margin: 0 16px;
      color: $primary-text;
    }
  }

  .nav-menu.left {
    margin-left: 16px;
  }
}


.hero {
  min-height: 30vh;
  display: flex;
  align-items: center;

  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}

.page-heading {
  margin: 32px 0;
}

.post-summary {
    padding: 32px 0;
    border-bottom: 1px solid $chrome;

    h3 {
      line-height: 36px;
      margin-bottom: 8px;
    }

    .metadata {
      margin-bottom: 16px;
      color: $secondary-text;
      font-size: 14px;
    }

    .readmore {
      font-weight: 600;
    }
}

.post {
  h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
  }

  header {
    margin: 32px 0;
  }

  .content {
    font-family: $font-family-serif;
    font-size: 19px;
    line-height: 1.58;

    h1, h2 {
      margin: 40px 0 8px 0;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      font-family: $font-family;
    }

    h3 {
      margin: 32px 0 0px 0;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      font-family: $font-family;
    }

    h4 {
      margin: 16px 0 0px 0;
      font-weight: 700;
      font-size: 19px;
      line-height: 24px;
      font-family: $font-family;
    }

    p, ul, ol {
      margin: 0 0 32px 0;
    }
  }

  footer {
    margin: 32px 0;

    section {
      border-top: 1px solid $chrome;
      padding: 32px 0;
    }
  }
}

.tags {
  display: block;

  .tag {
    display: inline-block;
    padding: 4px 12px;
    margin-right: 4px;
    background-color: $secondary-background;
    border-radius: 4px;
  }
}

.reading {
  max-width: $reading-width ;
}

.subscribe-block {
  background-color: $secondary-background;
  border-radius: 8px;
  padding: 80px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subscribe-form {
  width: 100%;

  input {
    height: 40px;
    padding: 0 12px;
    margin-bottom: 8px;
  }

  button {
    width: 100%;
    max-width: 200px;
    padding: 12px 16px;
  }
}

.cta-button, a.cta-button {
  display: inline-block;
  background-color: $brand-blue;
  color: $light-text;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  margin-top: 8px;
}

.page-footer {
  padding: 80px 0;

  .copyright {
    text-align: center;
  }
}

ul.plain {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
