// Units
$spacer: 16px;

// Colors
$brand-blue: #0071E0;
$chrome: #E2E5ED;
$blue: $brand-blue;
$secondary-text: #B5B7BD;

// Typography
$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$link-hover-decoration: none;

@import "bootstrap/bootstrap";

// Typography
h1 {
  font-size: 58px;
  line-height: 64px;
  font-weight: 900;
}

h2 {
    font-size: 26px;
    line-height: 40px;
    font-weight: 600;
}

// Navbar
.navbar-logo {
    height: 40px;
    margin: 16px 0px;
}

.navbar-brand {
    padding: 0px;
}

.navbar {
    padding: 0px;
}

.plain-link, .plain-link:hover {
    text-decoration: none;
    color: $body-color
}

.secondary-link, .secondary-link:hover {
  text-decoration: none;
  color: $secondary-text
}

.reading-width {
    max-width: 720px;
}

.hero {
  min-height: 30vh;
  display: flex;
  align-items: center;

  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}

.article-summary {
    padding: 32px 0;
    border-bottom: 1px solid $chrome;

    h2 {
      line-height: 36px;
      margin-bottom: 8px;
    }

    .metadata {
      margin-bottom: 16px;
      color: $secondary-text;
      font-size: 14px;
    }

    .readmore {
      font-weight: 600;
    }
}

footer {
  padding: 80px 0;
}

