// Units
$spacer: 16px;

// Colors
$brand-blue: #0071E0;
$chrome: #E2E5ED;
$blue: $brand-blue;
$secondary-text: #B5B7BD;

// Typography
$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: "Georgia", "Times New Roman";
$link-hover-decoration: none;

$fa-font-path: "../fonts";

@import "bootstrap/bootstrap";
@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/regular";

// Typography
h1 {
  font-size: 58px;
  line-height: 64px;
  font-weight: 900;
}

h2 {
    font-size: 26px;
    line-height: 40px;
    font-weight: 600;
}

// Navbar
.navbar-logo {
    height: 40px;
    margin: 16px 0px;
}

.navbar-brand {
    padding: 0px;
}

.navbar {
    padding: 0px;
}

.plain-link, .plain-link:hover {
    text-decoration: none;
    color: $body-color
}

.secondary-link, .secondary-link:hover {
  text-decoration: none;
  color: $secondary-text
}

.reading-width {
    max-width: 730px;
}

.hero {
  min-height: 30vh;
  display: flex;
  align-items: center;

  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}

.post-summary {
    padding: 32px 0;
    border-bottom: 1px solid $chrome;

    h2 {
      line-height: 36px;
      margin-bottom: 8px;
    }

    .metadata {
      margin-bottom: 16px;
      color: $secondary-text;
      font-size: 14px;
    }

    .readmore {
      font-weight: 600;
    }
}

.post {
  h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
  }

  header {
    margin-bottom: 32px;
  }

  .content {
    font-family: $font-family-serif;
    font-size: 19px;
    line-height: 1.58;

    h1, h2 {
      margin: 40px 0 8px 0;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      font-family: $font-family-sans-serif;
    }

    h3 {
      margin: 32px 0 0px 0;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      font-family: $font-family-sans-serif;
    }

    h4 {
      margin: 16px 0 0px 0;
      font-weight: 700;
      font-size: 19px;
      line-height: 24px;
      font-family: $font-family-sans-serif;
    }

    p, ul, ol {
      margin-bottom: 32px;
    }
  }
}

footer {
  padding: 80px 0;
}

