// Bootstrap overrides
$brand-blue: #0071E0;
$blue: $brand-blue;
$font-family-sans-serif:      "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

@import "bootstrap/bootstrap";



.foo {
    color: green;
}