<div class="summary">
  <h2><a class="plain-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <div class="metadata">
    {{ if .Date }}
        {{ .Date.Format "January 2, 2006" }}
    {{ end }}

    {{ with .Params.authors }}
      <div>Authors:</div>
      {{ range first 1 . }}
          <div>{{ . }}</div>
          {{ with $.Site.GetPage (printf "/%s/%s" "authors" (. | urlize)) -}}
              <a class="plain-link" href="{{ .RelPermalink }}">{{ .Params.name }}</a>&nbsp;-&nbsp;{{ .Params.title }}
          {{- end -}}
      {{- end -}}
    {{ end }}

  </div>
  <p>
    {{ default .Summary .Params.lead }}
  </p>
  <p>
    <a href="{{ .RelPermalink }}">Read More&nbsp;<span class="oi icon" data-glyph="arrow-right" title="icon name" aria-hidden="true"></span></a>
  </p>
</div>
    