<article class="article-summary">
  <h2><a class="plain-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <div class="metadata">
    {{ with .Params.authors }}
      {{ range first 1 . }}
          {{ with $.Site.GetPage (printf "/%s/%s" "authors" (. | urlize)) -}}
            By&nbsp;<a class="secondary-link" href="{{ .RelPermalink }}">{{ .Params.name }}</a>
          {{- end -}}
      {{- end -}}
    {{ end }}
    {{- with .Params.categories -}}
      {{- range first 1 . -}}
          {{- with $.Site.GetPage (printf "/%s/%s" "categories" (. | urlize)) -}}  
          &nbsp;on&nbsp;<a class="secondary-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{- end -}}
      {{- end -}}
    {{- end -}}
    {{ if .Date }}
      •&nbsp;<span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
    {{ end }}

  </div>
  <p class="description">
    {{ default .Summary .Params.lead }}
  </p>
  <div class="readmore">
    <a href="{{ .RelPermalink }}">Read More&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></a>
  </div>
  
</article>
    