<nav class="navbar navbar-expand-lg" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img class="navbar-logo" src="/images/navbar-logo.svg" alt="Facet">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      {{ if .Site.Menus.main }}
        <ul class="navbar-nav">
          {{ range .Site.Menus.main }}
          <li class="nav-item active">
            <a class="nav-link" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
</nav>
