{{ define "main" }}
  <div class="homepage-hero">
    <div class="container">
      <h1>{{ .Title }}</h1>
      {{ with .Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
      {{ end }}
    </div>
  </div>
  <section class="">
    <div class="container">
      {{ .Content }}
    </div>
  </section>
  
  <section class="">
    <div class="container reading-width">
      {{ range .Paginator.Pages }}
        {{- .Render "summary" -}}
      {{ end }}
    </div>
  </section>
  <section>
      {{ template "_internal/pagination.html" . }}
  </section>
{{ end }}
